/* inline media */

.form-element {width:100%;}

/* disable image upload button (in favour of media upload */
button.ck.ck-button.ck-off.ck-file-dialog-button {
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}
